# Environment variables
.env*
*.env
*.env.local

# Python
.venv*
*.pyc
__pycache__/
/data/audio/
/output/

data/audio/
output/
output/customer_journey_poc/

node_modules/
dist/

# Local Database
chroma_db/

# Large Data Files (in data_pipelines)
data_pipelines/data/

# Node / Frontend
node_modules/
dist/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.vscode/
.idea/
*.DS_Store