# This file is for general project dependencies.
# For the chatbot, use chatbot_poc/backend/requirements.txt
# For transcription scripts, use scripts/requirements.txt

# Shared libraries can remain here if desired.
google-generativeai
python-dotenv
openai
tiktoken
tqdm